body {
    font-family: 'Piazzolla', Arial, Helvetica, serif;
    font-style: normal;
    background-image: url(https://image.freepik.com/free-photo/white-paper-canvas-texture-background-design-backdrop-overlay-design_1962-68.jpg);
    margin-left: 2.5%;
    margin-right: 2.5%;
}

nav {
    width: 100%;
    overflow: hidden;
    background-color: #555;
    
}

nav a {
    float: left;
    width: 25%;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a:hover {
    background-color: gray;
}

nav a:active {
    background-color: white;
    color: black;
}

header h1 {
    padding-top: 20px;
    text-align: center;
}

header h2 {
    text-align: center;
}

.sidebar {
    width: 25%;
    margin-top: 20px;
    background-color: #D6AD60;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.posts {
    width: 75%;
    display: flex;
    flex-direction: column;
}

article {
    margin-top: 20px;
    background-color: #D6AD60;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

#mypic {
    display: block;
    margin: auto;
}

.signature {
    font-size: 14px;
}

.tab {
    text-indent: 5px;
}

footer {
    text-align: center;
    font-size: smaller;
}