body {
    font-family: 'Piazzolla', serif;
    font-style: normal;
    background-image: url(https://image.freepik.com/free-photo/white-paper-canvas-texture-background-design-backdrop-overlay-design_1962-68.jpg);
    margin-left: 100px;
    margin-right: 100px;
}

header {
    text-align: center;
}

nav {
    width: 100%;
    overflow: hidden;
    background-color: #555;
}

nav a {
    float: left;
    width: 25%;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a:hover {
    background-color: gray;
}

nav a:active {
    background-color: white;
    color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;   
}

.sidebar {
    background-color: #D6AD60;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.card {
    background-color: #D6AD60;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    color: black;
}

.signature {
    font-size: 14px;
}

.tab {
    text-indent: 10px;
}

footer {
    text-align: center;
    font-size: smaller;
}