body {
    font-family: 'Piazzolla', Arial, Helvetica, serif;
    font-style: normal;
    background-image: url(https://image.freepik.com/free-photo/white-paper-canvas-texture-background-design-backdrop-overlay-design_1962-68.jpg);
}

header h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 3.5em;
}

header h2 {
    text-align: center;
    font-size: 2em;
}

nav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #917553;
    overflow-x: hidden;
    padding-top: 1%;
    margin-right: 5%;
    transition: .3s ease-in-out;
    box-shadow: 2px 0px 8px 2px grey; /* h-offset v-offset blur spread color */
}

#links {
    padding-top: 20%;
}

nav a {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    padding: 5% 4%;
}

nav a:hover {
    background-color: #d3d3d3;
    color: #917553;
    transition: .2s;
}

nav a:active {
    background-color: white;
    color: #917553;
}

#closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 2em;
    cursor: pointer;
    background-color: #917553;
    color: white;
    padding: 1%;
    border: none;
    transform: rotate(0deg);
    transition: .3s;
  }
  
#closebtn:hover {
    transform: rotate(90deg);
    transition: .3s;
}

#openbtn {
    position: fixed;
    top: 0;
    font-size: 2em;
    cursor: pointer;
    color: #917553;
    padding: 1%;
    border: none;
    background: none;
    transform: rotate(0deg);
    transition: .3s;
}
  
#openbtn:hover {
    transform: rotate(90deg);
    transition: .3s;
}

main {
    padding: 0% 10%;
    text-align: center;
    margin-bottom: 5%;
}

#me {
    max-width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 6px 6px 35px 6px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 3px 5px 5px grey;
}

/*text sizes*/

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.7em;
}

p {
    font-size: 1.3em;
}

li {
    font-size: 1.1em;
}

a {
    font-size: 1em;
}

.signature {
    font-size: 1em;
}

.tab {
    text-indent: 2%;
}

footer {
    text-align: center;
    font-size: 1em;
}