body {
    font-family: 'Piazzolla', Arial, Helvetica, serif;
    font-style: normal;
    background-image: url(https://image.freepik.com/free-photo/white-paper-canvas-texture-background-design-backdrop-overlay-design_1962-68.jpg);
}

header {
    text-align: center;
}

nav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D6AD60;
    overflow-x: hidden;
    padding-top: 1%;
    margin-right: 5%;
    transition: .3s ease-in-out;
    box-shadow: 2px 0px 8px 2px grey; /* h-offset v-offset blur spread color */
}

#links {
    padding-top: 20%;
}

nav a {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    padding: 5% 4%;
}

nav a:hover {
    background-color: #d3d3d3;
    color: #D6AD60;
    transition: .2s;
}

nav a:active {
    background-color: white;
    color: #D6AD60;
}

#closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 3em;
    cursor: pointer;
    background-color: #D6AD60;
    color: white;
    padding: 1%;
    border: none;
    transform: rotate(0deg);
    transition: .3s;
  }
  
#closebtn:hover {
    transform: rotate(90deg);
    transition: .3s;
}

#openbtn {
    position: fixed;
    top: 0;
    font-size: 3em;
    cursor: pointer;
    color: #D6AD60;
    padding: 1%;
    border: none;
    background: none;
    transform: rotate(0deg);
    transition: .3s;
}
  
#openbtn:hover {
    transform: rotate(90deg);
    transition: .3s;
}

main {
    transition: margin-left .5s ease-in-out;
    margin-bottom: 5%;
}

article {
    padding: 1% 10%;
    margin: 2% 5%;
}

#more {
    display:none;
}

#dots, #dots2 {
    cursor: pointer;
    border:none;
    background: none;
    color:#D6AD60;
    font-size: 1.3em;
}

#dots:hover, #dots2:hover {
    text-decoration: underline;
}

/*text sizes*/

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 1.7em;
}

p {
    font-size: 1.3em;
}

li {
    font-size: 1.1em;
}

a {
    font-size: 1em;
}

.signature {
    font-size: 1em;
}

.tab {
    text-indent: 2%;
}

footer {
    text-align: center;
    font-size: 1em;
}